<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Card - 01</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <section class="card-container">
      <article class="card">
        <div class="card-image-container">
          <img src="./images/card-image.webp" alt="" class="card-image" />
        </div>
        <div class="card-information">
          <div>1</div>
          <p>
            Keep your mind switched on even with the lights off. Lean back and
            be transported deeper into the world of a book.
          </p>
        </div>
      </article>
      <article class="card">
        <div class="card-image-container">
          <img src="./images/card-image.webp" alt="" class="card-image" />
        </div>
        <div class="card-information">
          <div>2</div>
          <p>
            Keep your mind switched on even with the lights off. Lean back and
            be transported deeper into the world of a book.
          </p>
        </div>
      </article>
      <article class="card">
        <div class="card-image-container">
          <img src="./images/card-image.webp" alt="" class="card-image" />
        </div>
        <div class="card-information">
          <div>3</div>
          <p>
            Keep your mind switched on even with the lights off. Lean back and
            be transported deeper into the world of a book.
          </p>
        </div>
      </article>
    </section>
  </body>
</html>
