/*== RESET ==*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
body {
  /* ==CENTERING ==*/
  height: 100vh;
  display: grid;
  place-content: center;
  /* ==END CENTERING ==*/
  background-color: #eee9ff;
}
/*== END RESET ==*/
.button {
  font-family: "Space Grotesk", sans-serif;
  text-transform: uppercase;
  width: 12.5rem;
  background: none;
  padding: 0.375rem;
  border: none;
  cursor: pointer;
  position: relative;
  isolation: isolate;
}
.button::before,
.button::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: calc(50% - 3px);
  border: 2px solid #343232;
  z-index: -1;
}
.button::before {
  top: 0;
  border-bottom: 0;
}
.button::after {
  bottom: 0;
  border-top: 0;
}
.button span {
  display: block;
  background-color: #343232;
  color: #fff;
  padding: 1rem 2rem;
  position: relative;
  isolation: isolate;
  overflow: hidden;
  transition: color 300ms;
}
.button:hover span {
  color: #343232;
}
.button span::before,
.button span::after {
  content: "";
  position: absolute;
}
.button span::before {
  background-color: #b29cf9;
  inset: 0;
  z-index: -1;
  transform: translateX(calc(-100% - 2.5vw)) skew(-10deg);
  transition: transform 300ms;
}
.button:hover span::before {
  transform: none;
}
.button span::after {
  width: 0.375rem;
  height: 0.375rem;
  background-color: #b29cf9;
  right: 0;
  bottom: 0;
  transition: background-color 300ms;
}
.button:hover span::after {
  background-color: #343232;
}
